<div class="container py-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1><%= @content[:title] %></h1>

      <div class="mb-4">
        <img src="https://via.placeholder.com/800x300/6c757d/ffffff?text=Rise+and+Resound+Story"
             alt="About Rise and Resound" class="img-fluid rounded">
      </div>

       <div class="content">
        <%= simple_format(@content[:content]) %>
      </div>

      <div class="text-center mt-5">
        <%= link_to "Book a Speaking Engagement", new_booking_path, class: "btn btn-primary btn-lg me-3" %>
        <%= link_to "Browse Products", products_path, class: "btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>