<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Edit Product: <%= @product.name %></h2>
  <%= link_to "View Product", admin_product_path(@product), class: "btn btn-outline-info" %>
</div>

<div class="card">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>